[Unit]
Description=Home Assistant
After=network.target

[Service]
Type=simple
User=hass
ExecStart=/usr/bin/hass -c /home/hass/.homeassistant

[Install]
WantedBy=multi-user.target
